<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Pixel Views</title>
		<link href="..\styles\about-us.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<!-- header -->
	<header>
		<h2 class='header-logo'>PIXELVIEWS</h2>
		<a href = '../../index.html' class='header-link'>Home</a>
	</header>
	<body>
		<main>
		
			<section class="autor" id = 'murilo'>
				<div class="text">
					<h3>Murilo Maciel Rodrigues</h3>
					<ol> ações feitas
                        <li>•prototipação</li>
                        <li>•página principal</li>
                        <li>•páginas de notícias</li>
                    </ol>
				</div>
			</section>

            <section class="autor" id = 'felipe'>
				<div class="text">
					<h3>Felipe Oliveira Raimundo</h3>
					<ol>
                        <li>•Design Responsivo</li>
                        <li>•Páginas de Reviews</li>
                        <li>•Hospedagem do Site</li>
                    </ol>
				</div>
			</section>

		</main>
		<!-- footer -->
		<footer>
			<h1 id='footer-logo'>PIXELVIEWS</h1>
			<p id='footer-text'>Este site publica opiniões próprias a respeito de videogames.</p> <br>
			<span class='footer-icons'>
				<i class="fa-brands fa-facebook-f"></i>
				<i class="fa-brands fa-x-twitter"></i>
				<i class="fa-brands fa-instagram"></i>
				<i class="fa-brands fa-threads"></i>
				<i class="fa-brands fa-youtube"></i>
			</span> <br>
		</footer>
		<section id='footer-section'>
			<p>©2024 IFPB</p>
		</section>
	</body>
</html>