<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Pixel Views</title>
		<link href="..\styles\login.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<!-- header -->
	<header>
		<h2 class='header-logo'>PIXELVIEWS</h2>
		<a href = '../../index.html' class='header-link'>Home</a>
	</header>
	<body>
		<main>
			<section class="autor" id = 'login'>
				<div class="text">
                    <h1>Login</h1>
                    <form method = 'post' action = ''>
                      <input type = 'text' placeholder = "digite seu nome de usuário" > <br> <br>
                      <input type = 'password' placeholder = "digite sua senha"> <br> <br>
                    <button type = 'submit'>ENTRAR NA CONTA</button> <br> <br> <br> <br>
                    </form>
                    <a href = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUXbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D'>esqueci minha senha</a>
				</div>
			</section>

            <section class="autor" id = 'cadastro'>
				<div class="text">
                    <h1>Cadastro</h1>
                    <form method = 'post' action = ''>
                        <input type = 'text' placeholder = "digite seu nome" > <br> <br>
                        <input type = 'date' placeholder = "data nasc"> <br> <br>
                        <input type = 'number' placeholder = "digite seu telefone" > <br> <br>
                        <input type = 'text' placeholder = "digite seu E-MAIL" > <br> <br>
                        <input type = 'password' placeholder = "digite uma senha" maxlength = '6' > <br> <br>
                        <input type = 'password' placeholder = "confirme sua senha" maxlength = '6' ><br> <br>
                        <button type = 'submit'>CRIAR CONTA</button>
                      </form>
				</div>
			</section>

		</main>
		<!-- footer -->
		<footer>
			<h1 id='footer-logo'>PIXELVIEWS</h1>
			<p id='footer-text'>Este site publica opiniões próprias a respeito de videogames.</p> <br>
			<span class='footer-icons'>
				<i class="fa-brands fa-facebook-f"></i>
				<i class="fa-brands fa-x-twitter"></i>
				<i class="fa-brands fa-instagram"></i>
				<i class="fa-brands fa-threads"></i>
				<i class="fa-brands fa-youtube"></i>
			</span> <br>
		</footer>
		<section id='footer-section'>
			<p>©2024 IFPB</p>
		</section>
	</body>
</html>