<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Pixel Views</title>
		<link href="..\styles\review.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<!-- header -->
	<header>
		<h2 class='header-logo'>PIXELVIEWS</h2>
		<a href = '../../index.html' class='header-link'>Home</a>
		<a href = 'about-us.html' class='header-link2'>sobre nós</a>
		<a href = 'login.html' class='header-link2'>login</a>
	</header>
	<body>
		<main>
			<section class="info">
				<div class="img"><img src="../images/Blasphemous.png" alt="capa de Blasphemous"></div>
				<div class="details">
					<h1>Blasphemous II</h1>
					<ul class="stars">
						<li><img src="../images/star.png" alt=""></li>
						<li><img src="../images/star.png" alt=""></li>
						<li><img src="../images/star.png" alt=""></li>
						<li><img src="../images/star.png" alt=""></li>
					</ul>
					<div class="description">
						<h2>Disponivel para:</h2>
						<ul>
							<li>PS4</li>
							<li>XBOX</li>
							<li>PC</li>
                            <li>Nintendo Switch</li>
						</ul>
						<h2>Review escrita por:</h2>
						<ul>
							<li>Mariana Ludmilla</li>
						</ul>
					</div>
				</div>
			</section>
			<section  class="topic">
				<h2>Estilo Visual e Atmosfera</h2>
				<p>Blasphemous 2" continua a impressionar com seu estilo visual sombrio e único. O jogo mantém a estética gótica e macabra que caracterizou o primeiro título, oferecendo um mundo visualmente deslumbrante e perturbador. As detalhadas pixel-art e os cenários inspirados por temas religiosos e medievais criam uma atmosfera intensa e envolvente. Cada área do jogo é meticulosamente desenhada, com um design de ambiente que complementa a narrativa sombria e as atmosferas opressivas. O impacto visual é reforçado pela trilha sonora e pelos efeitos sonoros, que juntos criam uma experiência verdadeiramente imersiva.</p>
				
                <h2>Mecânicas de Jogo e Desafios</h2>
				<p>Em termos de jogabilidade, "Blasphemous 2" refina e expande as mecânicas do original. O sistema de combate continua desafiador e recompensador, com uma variedade de armas e habilidades que permitem aos jogadores personalizar seu estilo de luta. As novas mecânicas, como a adição de magias e combos mais complexos, introduzem novas camadas de profundidade ao gameplay. No entanto, o nível de dificuldade pode ser bastante elevado, o que pode desanimar alguns jogadores menos pacientes. Os chefes são variados e criativos, mas podem exigir uma boa dose de tentativa e erro para serem vencidos.</p>
				
                <h2>Narrativa e História</h2>
				<p>A narrativa de "Blasphemous 2" é rica em simbolismo e mitologia, mergulhando ainda mais no lore que o primeiro jogo estabeleceu. A história é contada através de ambientes, textos encontrados e diálogos com NPCs, permitindo aos jogadores explorar o mundo e descobrir sua trama complexa e profunda. Embora a narrativa seja intrigante e envolvente, a maneira como é apresentada pode ser um pouco fragmentada, o que pode dificultar a compreensão completa do enredo para alguns jogadores. A conexão entre a trama e o ambiente é poderosa, mas a necessidade de explorar e descobrir pode tornar a história menos acessível.</p>
			</section>
			<section class="autor">
				<div class="text">
					<h3>Sobre o Autor</h3>
					<p>Conhecida por seus romances emocionantes e dramas familiares, Mariana Ludmilla de Lima Maroja Limeira é uma autora brasileira que se destaca pela capacidade de explorar as complexidades das relações humanas. Seus livros frequentemente mergulham em temas como amor, perda e reconciliação, e são apreciados por sua narrativa envolvente e personagens profundos.	</p>
				</div>
			</section>
			<!-- notícias recentes  -->
			<section id='populares'>
				<h1>ÚLTIMAS NOTÍCIAS</h1>
				<hr>
				<article id='popular-container'>
					<article>
						<div class = 'popular-image' id = 'GTAV'> </div>
						<p class = 'popular-title'>Rockstar Games Revela Trailer de GTA 6 com Ambientação Inspirada em Vice City e Los Santos</p> 
						<p class = 'popular-subtitle'>Nova edição promete ser a maior de todas, com mapa expansivo e novas mecânicas de jogabilidade..</p>
						<div class = 'popular-button-container'> <button class = 'popular-button'> <a href = './novidades-GTA.html'> LER MAIS </a></button> </div>
					</article>
			  
					  <article>
						<div class = 'popular-image' id = 'Overwatch'> </div>
						<p class = 'popular-title'>Blizzard Anuncia Novo Evento de Temporada e Modo PvE Exclusivo para Overwatch 2</p> 
						<p class = 'popular-subtitle'>“Operação Aurora” trará missões cooperativas e recompensas especiais por tempo limitado.</p> <br>
						<div class = 'popular-button-container'> <button class = 'popular-button'> <a href = './novidades-overwatch.html'>LER MAIS</a></button> </div>
					  </article>
					  
					  <article>
						<div class = 'popular-image' id = 'Valorant'> </div>
						<p class = 'popular-title'>Valorant Lança Modo de Jogo Inédito “Missão Tempestade” e Expande Lore com Novos Mapas</p> 
						<p class = 'popular-subtitle'>Atualização traz missões cooperativas, narrativa expandida e novos mapas ambientados em locais exóticos.</p>
						<div class = 'popular-button-container'> <button class = 'popular-button'><a href = './novidades-valorant.html'>LER MAIS</a></button> </div>
					  </article>
				</article>
			</section>
		</main>
		<!-- footer -->
		<footer>
			<h1 id='footer-logo'>PIXELVIEWS</h1>
			<p id='footer-text'>Este site publica opiniões próprias a respeito de videogames.</p> <br>
			<span class='footer-icons'>
				<i class="fa-brands fa-facebook-f"></i>
				<i class="fa-brands fa-x-twitter"></i>
				<i class="fa-brands fa-instagram"></i>
				<i class="fa-brands fa-threads"></i>
				<i class="fa-brands fa-youtube"></i>
			</span> <br>
		</footer>
		<section id='footer-section'>
			<p>©2024 IFPB</p>
		</section>
	</body>
</html>