<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Pixel Views</title>
		<link href="..\styles\review.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<!-- header -->
	<header>
		<h2 class='header-logo'>PIXELVIEWS</h2>
		<a href = '../../index.html' class='header-link'>Home</a>
		<a href = '../../index.html' class='header-link2'>sobre nós</a>
	</header>
	<body>
		<main>
			<section class="info">
				<div class="img"><img src="../images/SpiderMan2.png" alt="capa de Spider Man 2"></div>
				<div class="details">
					<h1>Spider Man 2</h1>
					<ul class="stars">
						<li><img src="../images/star.png" alt=""></li>
						<li><img src="../images/star.png" alt=""></li>
						<li><img src="../images/star.png" alt=""></li>
                        <li><img src="../images/star.png" alt=""></li>
					</ul>
					<div class="description">
						<h2>Disponivel para:</h2>
						<ul>
							<li>PS5</li>
						</ul>
						<h2>Review escrita por:</h2>
						<ul>
							<li>Seu barriga</li>
						</ul>
					</div>
				</div>
			</section>
			<section  class="topic">
				<h2>Gráficos e Design de Mundo</h2>
				<p>Spider-Man 2" continua a tradição da série com gráficos impressionantes e um design de mundo urbano vibrante. A recriação de Nova York é detalhada e cheia de vida, com uma variedade de bairros e pontos de referência que capturam a essência da cidade com maestria. As animações de Peter Parker e Miles Morales, tanto nas cenas de combate quanto nas sequências de balançar pela cidade, são suaves e visualmente deslumbrantes. A atenção aos detalhes nos trajes e nas interações com o ambiente elevam a experiência, tornando a cidade de Nova York um playground incrível para os jogadores.</p>
				
                <h2>Mecanicas de Jogo e Inovações</h2>
				<p>A gameplay em "Spider-Man 2" é uma mistura bem-sucedida de ação e exploração, com uma série de melhorias em relação aos jogos anteriores. O sistema de combate é fluido e mais dinâmico, incorporando novos movimentos e habilidades para ambos os Homens-Aranha, o que permite uma variedade ainda maior de estilos de jogo. As novas mecânicas de teia, como a capacidade de balançar e lutar simultaneamente, e a cooperação entre Peter e Miles em algumas missões oferecem uma experiência refrescante. No entanto, a integração dessas novas mecânicas pode exigir um período de adaptação para jogadores acostumados aos títulos anteriores.</p>
				
                <h2>História e Desenvolvimento dos Personagens</h2>
				<p>A narrativa de "Spider-Man 2" é envolvente e bem escrita, trazendo uma história emocional e repleta de reviravoltas. A dinâmica entre Peter Parker e Miles Morales é explorada com profundidade, e os novos vilões e aliados adicionam camadas de complexidade à trama. A evolução dos personagens é notável, com diálogos e eventos que refletem seu crescimento e desafios. No entanto, algumas partes da história podem parecer previsíveis para aqueles que estão familiarizados com os quadrinhos e filmes do Homem-Aranha, diminuindo um pouco o impacto das surpresas.</p>
			</section>
			<section class="autor">
				<div class="text">
					<h3>Sobre o Autor</h3>
					<p>Com uma paixão por literatura de viagem e aventuras, Olivia Hart escreve livros que transportam seus leitores para locais exóticos e culturas fascinantes. Suas histórias são cheias de descrições vívidas e experiências enriquecedoras, muitas vezes centradas em protagonistas em busca de autoconhecimento e transformação pessoal.</p>
				</div>
			</section>
			<!-- notícias recentes  -->
			<section id='populares'>
				<h1>ÚLTIMAS NOTÍCIAS</h1>
				<hr>
				<article id='popular-container'>
					<article>
						<div class = 'popular-image' id = 'GTAV'> </div>
						<p class = 'popular-title'>Rockstar Games Revela Trailer de GTA 6 com Ambientação Inspirada em Vice City e Los Santos</p> 
						<p class = 'popular-subtitle'>Nova edição promete ser a maior de todas, com mapa expansivo e novas mecânicas de jogabilidade..</p>
						<div class = 'popular-button-container'> <button class = 'popular-button'> <a href = './novidades-GTA.html'> LER MAIS </a></button> </div>
					</article>
			  
					  <article>
						<div class = 'popular-image' id = 'Overwatch'> </div>
						<p class = 'popular-title'>Blizzard Anuncia Novo Evento de Temporada e Modo PvE Exclusivo para Overwatch 2</p> 
						<p class = 'popular-subtitle'>“Operação Aurora” trará missões cooperativas e recompensas especiais por tempo limitado.</p> <br>
						<div class = 'popular-button-container'> <button class = 'popular-button'> <a href = './novidades-overwatch.html'>LER MAIS</a></button> </div>
					  </article>
					  
					  <article>
						<div class = 'popular-image' id = 'Valorant'> </div>
						<p class = 'popular-title'>Valorant Lança Modo de Jogo Inédito “Missão Tempestade” e Expande Lore com Novos Mapas</p> 
						<p class = 'popular-subtitle'>Atualização traz missões cooperativas, narrativa expandida e novos mapas ambientados em locais exóticos.</p>
						<div class = 'popular-button-container'> <button class = 'popular-button'><a href = './novidades-valorant.html'>LER MAIS</a></button> </div>
					  </article>
				</article>
			</section>
		</main>
		<!-- footer -->
		<footer>
			<h1 id='footer-logo'>PIXELVIEWS</h1>
			<p id='footer-text'>Este site publica opiniões próprias a respeito de videogames.</p> <br>
			<span class='footer-icons'>
				<i class="fa-brands fa-facebook-f"></i>
				<i class="fa-brands fa-x-twitter"></i>
				<i class="fa-brands fa-instagram"></i>
				<i class="fa-brands fa-threads"></i>
				<i class="fa-brands fa-youtube"></i>
			</span> <br>
		</footer>
		<section id='footer-section'>
			<p>©2024 IFPB</p>
		</section>
	</body>
</html>